:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-grey-color: #2f303a;
  --primary-color: #f5f5f5;
  --team-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --btn-color: #188ce8;
  --border-color: #ececec;
  --border-features-color: #eeeeee;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  background: var(--primary-white-color);
  color: var(--primary-text-color);
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* reset end */

section {
  padding-top: 94px;
  padding-bottom: 94px;
}  

.conteiner {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}

.link:hover, :focus {
  color: var(--accent-color);
}
  

/* header */

.header {
  border-bottom: 1px solid var(--border-color);
}

.header-conteiner {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.header-nav .item + .item {
  margin-left: 50px;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.logo-style {
  color: var(--logo-color);
}

.header-list {
  display: flex;
  align-items: center;
}

.site-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.site-link.current {
  color: var(--accent-color);
}
.site-link.current:focus {
  color: var(--primary-white-color);
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact .item + .item {
  margin-left: 50px;
}

.header-mail {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.header-tel {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

/* hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  text-align: center;
  background: var(--primary-grey-color);
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
}

.hero-button {
  min-width: 216px;
  padding: 10px 32px;
  display: inline-block;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  border-style: none;
  color: var(--primary-white-color);
  background: var(--accent-color);

  border-radius: 4px;
}

.hero-button:focus {
  background: var(--btn-color);
}

/* features */

.section-feature {
  padding-bottom: 0;
}

.features-list {
  display: flex;
  gap: 30px;
}


.title {
  margin-bottom: 10px;

  color: var(--title-text-color);
}

.features-list {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.feature-items {
  gap: 30px;
}

.futures-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* work */

.work {
  min-width: 366px;

  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.work-list {
  display: flex;
  gap: 30px;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* team */

.section-team {
  background: var(--team-color);
  letter-spacing: 0.03em;
}

.team {
  min-width: 264px;
  min-height: 42px;

  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--title-text-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-block {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--title-text-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--primary-text-color);
}

/* portfolio */

.btn-list {
  margin-bottom: 50px;

  height: 54px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}


.filter-btn {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  border-style: none;
  background: var(--team-color);
  border-radius: 4px;

  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.filter-desk {
  padding: 20px 24px;
  border: 1px solid var(--border-features-color);
}

.filter-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.filter-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--primary-grey-color);
}

.footer-conteiner {
  padding-top: 0;
  padding-bottom: 0;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: var(--accent-color);
  margin-bottom: 20px;
}

.footer-logo-style {
  color: var(--primary-white-color);
}

address {
  font-style: normal;
}

.footer-list {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.footer-list .item + .item {
  margin-top: 9px;
}

.footer-address {
  color: var(--primary-white-color);
}

.footer-mail {
  color: var(--footer-link-color);
}

.footer-tel {
  color: var(--footer-link-color);
}
