:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-grey-color: #2f303a;
  --primary-color: #f5f5f5;
  --team-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --btn-color: #188ce8;
  --border-color: #ececec;
  --border-features-color: #eeeeee;
  --icons-color: #afb1b8;
  --cart-sat-gap: 30px;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  background: var(--primary-white-color);
  color: var(--primary-text-color);
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* reset end */

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}

/* header */

.header {
  border-bottom: 1px solid var(--border-color);
}

.header-conteiner {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.header-nav .item + .item {
  margin-left: 50px;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.logo-style {
  color: var(--logo-color);
}

.header-list {
  display: flex;
  align-items: center;
}

.site-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.site-link.current {
  color: var(--accent-color);
}

.site-link.current:focus {
  color: var(--accent-color);
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact .item + .item {
  margin-left: 50px;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-mail {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.header-tel {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

/* hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  text-align: center;
  background: var(--primary-grey-color);
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
}

.hero-button {
  min-width: 216px;
  padding: 10px 32px;
  display: inline-block;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  border-style: none;
  color: var(--primary-white-color);
  background: var(--accent-color);

  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--btn-color);
}

/* features */

.section-feature {
  padding-bottom: 0;
}

.feature-list {
  display: flex;
  margin-right: calc(-1 * var(--cart-sat-gap));

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.feature-items {
  margin-right: var(--cart-sat-gap);
  flex-basis: calc(100% / 4 - var(--cart-sat-gap));
}

.icons-box {
  background-color: var(--team-color);
}

.features-icons {
  display: block;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* work */

.work {
  min-width: 366px;

  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.work-list {
  display: flex;
  margin-right: calc(-1 * var(--cart-sat-gap));
}

.work-item {
  margin-right: var(--cart-sat-gap);
  flex-basis: calc(100% / 3 - var(--cart-sat-gap));
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* team */

.section-team {
  background: var(--team-color);
  letter-spacing: 0.03em;
}

.team {
  min-width: 264px;
  min-height: 42px;

  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--title-text-color);
}

.team-list {
  display: flex;
  margin-right: calc(-1 * var(--cart-sat-gap));
}

.team-item {
  margin-right: var(--cart-sat-gap);
  flex-basis: calc(100% / 4 - var(--cart-sat-gap));
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-block {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--title-text-color);
}

.team-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--primary-text-color);
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icons-color);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.socials-icons {
  fill: currentColor;
}

/* customers */

.regular-customers {
  min-width: 297px;
  min-height: 42px;

  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--title-text-color);
}

.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: calc(-1 * var(--cart-sat-gap));
}

.customers-item {
  margin-right: var(--cart-sat-gap);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
}

.customers-item:hover,
.customers-item:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: var(--accent-color);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  color: var(--icons-color);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--accent-color);
}

.customers-icon {
  fill: var(--icons-color);
}

/* portfolio */

.btn-list {
  margin-bottom: 50px;

  height: 54px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.filter-btn {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  border-style: none;
  background: var(--team-color);
  border-radius: 4px;

  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--cart-sat-gap));
  margin-bottom: calc(-1 * var(--cart-sat-gap));
}

.filter-item {
  margin-right: var(--cart-sat-gap);
  margin-bottom: var(--cart-sat-gap);
  flex-basis: calc(100% / 3 - var(--cart-sat-gap));
  border: 1px solid var(--border-features-color);
}

.filter-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-desk {
  padding: 20px 24px;
}

.filter-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.filter-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* footer */

.footer {
  background: var(--primary-grey-color);
}

.footer-conteiner {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}

.footnav-conteiner {
  padding-top: 60px;
  margin-right: 70px;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: var(--accent-color);
  margin-bottom: 20px;
}

.footer-logo-style {
  color: var(--primary-white-color);
}

address {
  font-style: normal;
}

.footer-list {
  padding-bottom: 60px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.footer-list .item + .item {
  margin-top: 9px;
}

.footer-address {
  color: var(--primary-white-color);
}

.footer-mail {
  color: var(--footer-link-color);
}

.footer-tel {
  color: var(--footer-link-color);
}

.footsoc-title {
  padding-top: 72px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footsoc-list {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footsoc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footsoc-link:hover,
.footsoc-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
