:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-grey-color: #2f303a;
  --primary-color: #f5f5f5;
  --team-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --btn-color: #188ce8;
  --border-color: #ececec;
  --border-features-color: #eeeeee;
  --icons-color: #afb1b8;
  --cart-sat-gap: 30px;
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-form-border: rgba(33, 33, 33, 0.2);
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  background: var(--primary-white-color);
  color: var(--primary-text-color);
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* reset end */

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}

/* header */

.header {
  border-bottom: 1px solid var(--border-color);
}

.header__conteiner {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.logo__style {
  color: var(--logo-color);
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-left: 50px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--title-text-color);
  transition: color var(--anim-fast);
}

.nav__link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background: var(--accent-color);
}

.nav__link.current {
  color: var(--accent-color);
  transition: color var(--anim-fast);
}

.nav__link.current:focus {
  color: var(--accent-color);
}

.header__contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact__item {
  margin-left: 50px;
}

.contact__item:first-child {
  margin-left: 0;
}

.contact__mail {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  transition: color var(--anim-fast);
}

.contact__mail:focus,
.contact__mail:hover {
  color: var(--accent-color);
}

.contact__tel {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  transition: color var(--anim-fast);
}

.contact__tel:focus,
.contact__tel:hover {
  color: var(--accent-color);
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  text-align: center;
  background: var(--primary-grey-color);
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
}

.hero__button {
  min-width: 216px;
  padding: 10px 32px;
  display: inline-block;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  border-style: none;
  color: var(--primary-white-color);
  background: var(--accent-color);

  border-radius: 4px;
  transition: background-color var(--anim-fast);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--btn-color);
}

/* features */

.feature {
  padding-bottom: 0;
}

.feature__list {
  display: flex;
  margin-right: calc(-1 * var(--cart-sat-gap));

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.feature__items {
  margin-right: var(--cart-sat-gap);
  flex-basis: calc(100% / 4 - var(--cart-sat-gap));
}

.feature__icons-box {
  background-color: var(--team-color);
}

.feature__icons {
  display: block;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
}

.feature__title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
}

.feature__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* work */

.work__title {
  min-width: 366px;

  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.work__list {
  display: flex;
  margin-right: calc(-1 * var(--cart-sat-gap));
}

.work__item {
  position: relative;

  margin-right: var(--cart-sat-gap);
  flex-basis: calc(100% / 3 - var(--cart-sat-gap));
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.work__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.work__overlay-text {
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

/* team */

.team {
  background: var(--team-color);
  letter-spacing: 0.03em;
}

.team__title {
  min-width: 264px;
  min-height: 42px;

  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--title-text-color);
}

.team__list {
  display: flex;
  margin-right: calc(-1 * var(--cart-sat-gap));
}

.team__item {
  margin-right: var(--cart-sat-gap);
  flex-basis: calc(100% / 4 - var(--cart-sat-gap));
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__block {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__feature-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--title-text-color);
}

.team__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--primary-text-color);
}

.team__socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--icons-color);
  transition: color var(--anim-fast), background-color var(--anim-fast);
}

.team__socials-link:hover,
.team__socials-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.team__socials-icons {
  fill: currentColor;
}

/* customers */

.customers__title {
  min-width: 297px;
  min-height: 42px;

  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--title-text-color);
}

.customers__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: calc(-1 * var(--cart-sat-gap));
}

.customers__item {
  margin-right: var(--cart-sat-gap);
  border: 1px solid var(--icons-color);
  border-radius: 4px;

  transition: color var(--anim-fast), border var(--anim-fast);
}

.customers__item:hover,
.customers__item:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: var(--accent-color);
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  color: var(--icons-color);
  transition: color var(--anim-fast);
}

.customers__link:hover,
.customers__link:focus {
  color: var(--accent-color);
}

.customers__icons {
  fill: currentColor;
}

/* portfolio */

.btn-list {
  margin-bottom: 50px;

  height: 54px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.filter-btn {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  border-style: none;
  background: var(--team-color);
  border-radius: 4px;

  cursor: pointer;
  transition: color var(--anim-fast), background-color var(--anim-fast),
    box-shadow var(--anim-fast);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--cart-sat-gap));
  margin-bottom: calc(-1 * var(--cart-sat-gap));
}

.filter-item {
  margin-right: var(--cart-sat-gap);
  margin-bottom: var(--cart-sat-gap);
  flex-basis: calc(100% / 3 - var(--cart-sat-gap));
  border: 1px solid var(--border-features-color);

  transition: box-shadow var(--anim-fast);
}

.filter-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-thumb {
  position: relative;
  overflow: hidden;
}

.filter-overlay {
  position: absolute;

  top: 0;
  left: 0;

  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;

  background: rgba(33, 150, 243, 0.9);

  user-select: none;

  transition: transform var(--anim-fast);
}

.filter-item:hover .filter-overlay {
  transform: translateY(0);
}

.filter-overlay-text {
  position: absolute;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.filter-desk {
  padding: 20px 24px;
}

.filter-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.filter-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* footer */

.footer {
  padding: 60px 0;
  background: var(--primary-grey-color);
}

.footer-conteiner {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  align-items: baseline;
}

.footnav-conteiner {
  margin-right: 70px;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: var(--accent-color);
  margin-bottom: 20px;
}

.footer-logo-style {
  color: var(--primary-white-color);
}

.footer-adress {
  width: 231px;
  font-style: normal;
}

.footer-list {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.footer-list .item + .item {
  margin-top: 9px;
}

.footer-address {
  color: var(--primary-white-color);
  transition: color var(--anim-fast);
}

.footer-mail {
  color: var(--footer-link-color);
  transition: color var(--anim-fast);
}

.footer-tel {
  color: var(--footer-link-color);
  transition: color var(--anim-fast);
}

/* footcos */

.footsoc-conteiner {
  width: 206px;
  margin-right: 93px;
}

.footsoc-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footsoc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footsoc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: color var(--anim-fast), background-color var(--anim-fast);
}

.socials-icons {
  fill: currentColor;
}

.footsoc-link:hover,
.footsoc-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.footsubscribe-conteiner {
  width: 570px;
}

.footsubscribe-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.foot-form {
  display: flex;
  flex-wrap: nowrap;
}

.foot-form-mail {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 12px 16px;

  box-sizing: border-box;
  color: var(--primary-white-color);
  background: var(--primary-grey-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.foot-form-btn {
  display: flex;
  width: 200px;
  height: 50px;

  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
  border: 1px solid var(--modal-form-border);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  transition: background-color var();
}

.foot-form-btn:hover,
.foot-form-btn:focus {
  background-color: var(--btn-color);
}

.foot-form-icon {
  margin-left: 10px;
}

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  transition: opacity var(--anim-fast), visibility var(--anim-fast);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 41px 40px 39px;

  min-width: 528px;
  min-height: 581px;

  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--anim-fast), opacity var(--anim-fast);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -70%);
}

.modal-btn {
  box-sizing: border-box;
  cursor: pointer;

  position: absolute;
  top: 7px;
  right: 8px;

  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  background: var(--primary-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  outline: 1px solid transparent;
  transition: fill var(--anim-fast);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-color);
}

.modal-label {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.modal-form-group {
  margin-bottom: 20px;
}

.modal-form-label {
  display: block;

  margin-bottom: 4px;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}
.modal-form-wrapper {
  position: relative;

  margin-bottom: 10px;
}

.modal-form-field {
  width: 100%;
  height: 40px;

  font-size: 14px;

  padding-right: 42px;
  padding-left: 42px;

  border: 1px solid var(--modal-form-border);
  border-radius: 4px;

  outline: 1px solid transparent;
  transition: border var(--anim-fast);
}

.modal-form-field:focus {
  border: 1px solid var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);
  fill: var(--title-text-color);
}

.modal-form-field:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-massage {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px 16px;

  font-size: 12px;

  resize: none;

  border: 1px solid var(--modal-form-border);
  border-radius: 4px;

  outline: 1px solid transparent;
  transition: border var(--anim-fast);
}

textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-massage:focus {
  border: 1px solid var(--accent-color);
}

.modal-form-aggrement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-checkbox {
  appearance: none;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;

  transition: background-size var(--anim-fast),
    background-color var(--anim-fast), border var(--anim-fast);
}

.modal-form-checkbox:checked {
  border: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2' /%3E%3C/svg%3E");
  background-size: 11px 8px;
}

.modal-form-agreement-desc {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  user-select: none;

  color: var(--primary-text-color);
}

.modal-form-agreement-link {
  text-underline-offset: 3px;

  color: var(--accent-color);
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  padding: 10px 32px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  border-style: none;
  color: var(--primary-white-color);
  background: var(--accent-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: background-color var(--anim-fast);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--btn-color);
}
