.customers__title {
  min-width: 297px;
  min-height: 42px;

  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--title-text-color);
}

.customers__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: calc(-1 * var(--cart-sat-gap));
}

.customers__item {
  margin-right: var(--cart-sat-gap);
  border: 1px solid var(--icons-color);
  border-radius: 4px;

  transition: color var(--anim-fast), border var(--anim-fast);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    color: var(--accent-color);
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  color: var(--icons-color);
  transition: color var(--anim-fast);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.customers__icons {
  fill: currentColor;
}
