.footer__social-conteiner {
  width: 206px;
  margin-right: 93px;
}

.footer__social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: color var(--anim-fast), background-color var(--anim-fast);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}

.footer__social-icons {
  fill: currentColor;
}
