.backdrop {
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    background: rgba(0, 0, 0, 0.2);
  
    transition: opacity var(--anim-fast), visibility var(--anim-fast);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 41px 40px 39px;
  
    min-width: 528px;
    min-height: 581px;
  
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    transition: transform var(--anim-fast), opacity var(--anim-fast);
  }
  
  .backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -70%);
  }
  
  .modal__btn {
    box-sizing: border-box;
    cursor: pointer;
  
    position: absolute;
    top: 7px;
    right: 8px;
  
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    width: 30px;
    height: 30px;
    background: var(--primary-white-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  
    outline: 1px solid transparent;
    transition: fill var(--anim-fast);

    &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  }
  
  .modal__label {
    display: block;
    margin-bottom: 12px;
  
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
  
    color: var(--title-text-color);
  }
  
  .modal__form-group {
    margin-bottom: 20px;
  }
  
  .modal__form-label {
    display: block;
  
    margin-bottom: 4px;
  
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
  
    color: var(--primary-text-color);
  }
  .modal-form-wrapper {
    position: relative;
  
    margin-bottom: 10px;
  }
  
  .modal__form-field {
    width: 100%;
    height: 40px;
  
    font-size: 14px;
  
    padding-right: 42px;
    padding-left: 42px;
  
    border: 1px solid var(--modal-form-border);
    border-radius: 4px;
  
    outline: 1px solid transparent;
    transition: border var(--anim-fast);

    &:focus {
      border: 1px solid var(--accent-color);
    }

    &:focus + .modal__form-icon {
      fill: var(--accent-color);
    }
  }
  
  .modal__form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
  
    transform: translateY(-50%);
    fill: var(--title-text-color);
  }
  
  .modal__form-massage {
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px 16px;
  
    font-size: 12px;
  
    resize: none;
  
    border: 1px solid var(--modal-form-border);
    border-radius: 4px;
  
    outline: 1px solid transparent;
    transition: border var(--anim-fast);

    &:focus {
      border: 1px solid var(--accent-color);
    }
  }
  
  textarea::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  
  .modal__form-aggrement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .modal__form-checkbox {
    appearance: none;
    width: 16px;
    height: 15px;
    margin-right: 7px;
  
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;
  
    transition: background-size var(--anim-fast),
      background-color var(--anim-fast), border var(--anim-fast);
  }
  
  .modal__form-checkbox:checked {
    border: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2' /%3E%3C/svg%3E");
    background-size: 11px 8px;
  }
  
  .modal__form-agreement-desc {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
  
    user-select: none;
  
    color: var(--primary-text-color);
  }
  
  .modal__form-agreement-link {
    text-underline-offset: 3px;
  
    color: var(--accent-color);
  }
  
  .modal__form-btn {
    display: block;
    margin: 0 auto;
    min-width: 200px;
    padding: 10px 32px;
  
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    cursor: pointer;
    border-style: none;
    color: var(--primary-white-color);
    background: var(--accent-color);
  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    transition: background-color var(--anim-fast);
  }
  
  .modal__form-btn:hover,
  .modal__form-btn:focus {
    background-color: var(--btn-color);
  }