.nav {
  display: flex;
}
.nav__list {
  display: flex;
  align-items: center;
}

.nav__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  text-decoration: none;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.nav__logo-style {
  color: var(--logo-color);
}

.nav__item {
  margin-left: 50px;

  &:first-child {
    margin-left: 0;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;

  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--title-text-color);
  transition: color var(--anim-fast);

  &:hover {
    color: var(--accent-color);
  }
}

.nav__link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background: var(--accent-color);
}

.nav__link.current {
  color: var(--accent-color);
  transition: color var(--anim-fast);

  &:focus {
    color: var(--accent-color);
  }
}
