:root {
    --primary--color: #757575;
    --secondary--color: #212121;
    --hover--color: #2196F3;
    --button--color: #212121;
    --logo--color: #2196F3;
    --header--studio: #000000;
    --footer-studio: #FFFFFF;
    --hero--title: #FFFFFF;
    --hero--btn: #FFFFFF;
    --background--button--hero: #2196F3;
    --shadow--hero--button: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --box--shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --team--shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --portfolio--btn--shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --bgr--hover--hero: #188CE8;
    --color--hover-hero: #FFFFFF;
    --color--icons: #AFB1B8;
    --header--contacts: #757575;
    --footer--contacts: rgba(255, 255, 255, 0.6);
    --background--color: #FFFFFF;
    --background--header: #FFFFFF;
    --background--hero: #2F303A;
    --background--work: #FFFFFF;
    --background--team: #F5F4FA;
    --background--footer: #2F303A;
    --background--portfolio: #FFFFFF;
    --bgr--button: #2196F3;
    --bgr--button-portfolio: #F5F4FA;
    --color--button--portfolio: #FFFFFF;
    --border: #EEEEEE;
    --header--border: #ECECEC;
    --card--set--gap: 30px;
    --primary--font: 'Roboto', sans-serif;
    --secondary--font: 'Raleway', sans-serif;
    --work--overlay: rgba(47, 48, 58, 0.8);
    --footer--btn: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --card--overlay: rgba(33, 150, 243, 0.9);
}